In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df_sample = pd.read_csv('sm_full_dataset.csv', nrows = 1000000)
df_sample.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   device_type            1000000 non-null  object
 1   event_id               1000000 non-null  object
 2   user_id                1000000 non-null  int64
 3   user_is_authorized     1000000 non-null  int64
 4   location_id            1000000 non-null  int64
 5   create_timestamp       1000000 non-null  object
 6   product_id             1000000 non-null  int64
 7   product_is_pick_up     999999 non-null   float64
 8   product_is_pick_point  999999 non-null   float64
 9   product_is_delivery    999999 non-null   float64
 10  product_is_now         999999 non-null   float64
 11  product_price          1000000 non-null  int64
 12  ret_discount           1000000 non-null  int64
 13  product_category       1000000 non-null  object
 14  product_gender         1000000 non-null  object
 15  product_age            1000000 non-null  object
 16  brand_lvl              1000000 non-null  int64
 17  add_to_cart_flag       1000000 non-null  int64
 18  create_order_flag      1000000 non-null  int64
dtypes: float64(4), int64(9), object(6)
memory usage: 536.5 MB

In [23]:
# уменьшаем разрядность и используем типы, которые поддерживают пропущенные значения
dtypes = {
    'device_type': 'category',
    'event_id': 'object',
    'user_id': 'Int32',
    'user_is_authorized': 'Int8',
    'location_id': 'Int32',
    'product_id': 'Int32',
    'product_is_pick_up': 'Int8',
    'product_is_pick_point': 'Int8',
    'product_is_delivery': 'Int8',
    'product_is_now': 'Int8',
    'product_price': 'float32',
    'ret_discount': 'float32',
    'product_category': 'category',
    'product_gender': 'category',
    'product_age': 'category',
    'brand_lvl': 'Int8',
    'add_to_cart_flag': 'Int8',
    'create_order_flag': 'Int8'
}

In [25]:
# датафрейм с оптимизированными типами
df_sample = pd.read_csv('sm_full_dataset.csv', nrows=1000000, dtype=dtypes, parse_dates=['create_timestamp'])
df_sample.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   device_type            1000000 non-null  category
 1   event_id               1000000 non-null  object
 2   user_id                1000000 non-null  Int32
 3   user_is_authorized     1000000 non-null  Int8
 4   location_id            1000000 non-null  Int32
 5   create_timestamp       1000000 non-null  datetime64[ns]
 6   product_id             1000000 non-null  Int32
 7   product_is_pick_up     999999 non-null   Int8
 8   product_is_pick_point  999999 non-null   Int8
 9   product_is_delivery    999999 non-null   Int8
 10  product_is_now         999999 non-null   Int8
 11  product_price          1000000 non-null  float32
 12  ret_discount           1000000 non-null  float32
 13  product_category       1000000 non-null  category
 14  product_gender         1000000 non-null  category
 15  product_age            1000000 non-null  category
 16  brand_lvl              1000000 non-null  Int8
 17  add_to_cart_flag       1000000 non-null  Int8
 18  create_order_flag      1000000 non-null  Int8
dtypes: Int32(3), Int8(8), category(4), datetime64[ns](1), float32(2), object(1)
memory usage: 129.7 MB

In [29]:
# преобразуем в bool
bool_columns = [
    'user_is_authorized',
    'product_is_pick_up', 
    'product_is_pick_point',
    'product_is_delivery', 
    'product_is_now',
    'add_to_cart_flag', 
    'create_order_flag'
]

for col in bool_columns:
    df_sample[col] = df_sample[col].fillna(0).astype(bool)

df_sample.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   device_type            1000000 non-null  category
 1   event_id               1000000 non-null  object
 2   user_id                1000000 non-null  Int32
 3   user_is_authorized     1000000 non-null  bool
 4   location_id            1000000 non-null  Int32
 5   create_timestamp       1000000 non-null  datetime64[ns]
 6   product_id             1000000 non-null  Int32
 7   product_is_pick_up     1000000 non-null  bool
 8   product_is_pick_point  1000000 non-null  bool
 9   product_is_delivery    1000000 non-null  bool
 10  product_is_now         1000000 non-null  bool
 11  product_price          1000000 non-null  float32
 12  ret_discount           1000000 non-null  float32
 13  product_category       1000000 non-null  category
 14  product_gender         1000000 non-null  category
 15  product_age            1000000 non-null  category
 16  brand_lvl              1000000 non-null  Int8
 17  add_to_cart_flag       1000000 non-null  bool
 18  create_order_flag      1000000 non-null  bool
dtypes: Int32(3), Int8(1), bool(7), category(4), datetime64[ns](1), float32(2), object(1)
memory usage: 123.0 MB

In [31]:
df_sample.head()

,device_type,event_id,user_id,user_is_authorized,location_id,create_timestamp,product_id,product_is_pick_up,product_is_pick_point,product_is_delivery,product_is_now,product_price,ret_discount,product_category,product_gender,product_age,brand_lvl,add_to_cart_flag,create_order_flag
0,desktop,cd4192b5-3709-46dd-a601-444dde3e762d,1,False,968,2024-06-02 10:46:21.989,68390,False,True,False,False,5280.0,950.0,инвентарь,унисекс,взрослые,1,False,False
1,desktop,dd8a2b1a-9268-4930-b414-cfbd9cda16d7,2,False,725,2024-06-08 20:03:52.614,46818,False,True,True,False,2599.0,1300.0,одежда,женский,взрослые,1,False,False
2,desktop,0416ecb1-e53a-474b-9cbc-ca3009dbaed6,3,False,968,2024-06-19 06:08:03.096,79467,False,True,True,False,5599.0,3471.0,одежда,мужской,дети,2,False,False
3,desktop,d3e6cb84-74bb-47b5-bfc3-5118d24f7e40,3,False,968,2024-06-19 06:06:16.851,55621,True,True,True,False,3999.0,0.0,одежда,женский,дети,2,False,False
4,desktop,58d5a95d-4885-485b-a571-f24900cc0bf2,3,False,968,2024-06-19 06:05:14.868,82789,False,True,True,False,2190.0,0.0,одежда,мужской,дети,2,False,False

In [39]:
reader = pd.read_csv('sm_full_dataset.csv', chunksize=1000000, dtype=dtypes, parse_dates=['create_timestamp'])
all_chunks = []
for chunk in reader:
    bool_cols = ['user_is_authorized', 'product_is_pick_up', 'product_is_pick_point',
                 'product_is_delivery', 'product_is_now', 'add_to_cart_flag', 'create_order_flag']
    chunk[bool_cols] = chunk[bool_cols].fillna(0).astype(bool)
    all_chunks.append(chunk)

final_df = pd.concat(all_chunks, ignore_index=True)

In [41]:
final_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000000 entries, 0 to 6999999
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   device_type            category
 1   event_id               object
 2   user_id                Int32
 3   user_is_authorized     bool
 4   location_id            Int32
 5   create_timestamp       datetime64[ns]
 6   product_id             Int32
 7   product_is_pick_up     bool
 8   product_is_pick_point  bool
 9   product_is_delivery    bool
 10  product_is_now         bool
 11  product_price          float32
 12  ret_discount           float32
 13  product_category       category
 14  product_gender         category
 15  product_age            category
 16  brand_lvl              Int8
 17  add_to_cart_flag       bool
 18  create_order_flag      bool
dtypes: Int32(3), Int8(1), bool(7), category(4), datetime64[ns](1), float32(2), object(1)
memory usage: 861.2 MB

In [43]:
final_df.describe()

,user_id,location_id,create_timestamp,product_id,product_price,ret_discount,brand_lvl
count,7000000.0,7000000.0,7000000,7000000.0,7.000000e+06,7.000000e+06,7000000.0
mean,1056592.016434,1642.865912,2024-06-10 13:39:19.899237120,45972.119371,6.081760e+03,9.552031e+02,1.165987
min,1.0,1.0,2024-06-01 00:00:00.325000,1.0,2.500000e+01,0.000000e+00,0.0
25%,609690.75,968.0,2024-06-05 10:29:56.520999936,34687.0,1.999000e+03,0.000000e+00,0.0
50%,1061748.0,1695.0,2024-06-10 09:37:25.009500160,49242.0,3.799000e+03,0.000000e+00,1.0
75%,1511718.0,2147.0,2024-06-15 12:38:49.320250112,56084.0,6.879000e+03,1.200000e+03,2.0
max,2108035.0,4701.0,2024-06-21 09:20:02.259000,90613.0,9.916000e+05,9.795000e+04,2.0
std,538892.017291,605.576499,NaN,16842.077067,1.007031e+04,2.038705e+03,0.808292

In [45]:
n_users = final_df['user_id'].nunique()
users_by_device = final_df.groupby('device_type')['user_id'].nunique()
users_cart = final_df.loc[final_df['add_to_cart_flag'], 'user_id'].nunique()
users_order = final_df.loc[final_df['create_order_flag'], 'user_id'].nunique()
n_cart_events = final_df['add_to_cart_flag'].sum()
n_order_events = final_df['create_order_flag'].sum()

print("Уникальных пользователей:", n_users)
print("Пользователи по устройствам:", users_by_device)
print("Пользователи, добавившие товар в корзину:", users_cart)
print("Пользователи, оформившие заказ", users_order)
print("Сколько было добавлений в корзину ", n_cart_events)
print("Сколько было оформлено заказов:", n_order_events)

C:\Users\Polina\AppData\Local\Temp\ipykernel_7928\2342086867.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  users_by_device = final_df.groupby('device_type')['user_id'].nunique()

Уникальных пользователей: 2108035
Пользователи по устройствам: device_type
desktop              513053
mobileapp_android    988227
mobileapp_ios        649363
Name: user_id, dtype: int64
Пользователи, добавившие товар в корзину: 628469
Пользователи, оформившие заказ 207169
Сколько было добавлений в корзину  1315513
Сколько было оформлено заказов: 350303

In [53]:
# сколько событий на пользователя
events_per_user = final_df.groupby('user_id').size().describe()
print("Сколько событий на пользователя:", events_per_user)
# конверсия в добавление в корзину
conversion_cart = users_cart / n_users
print("Конверсия в добавление в корзину:", conversion_cart)
# конверсия в заказ
conversion_order = users_order / n_users
print("Конверсия в заказ:", conversion_order)

Сколько событий на пользователя: count    2.108035e+06
mean     3.320628e+00
std      5.710460e+00
min      1.000000e+00
25%      1.000000e+00
50%      2.000000e+00
75%      3.000000e+00
max      2.401000e+03
dtype: float64
Конверсия в добавление в корзину: 0.2981302492605673
Конверсия в заказ: 0.09827588251618213

In [57]:
# товары, которые чаще всего добавляют / покупают
top_products_cart = final_df[final_df['add_to_cart_flag']].product_id.value_counts().head(5)
top_products_order = final_df[final_df['create_order_flag']].product_id.value_counts().head(5)
print(top_products_cart)
print(top_products_order)

product_id
348      4661
54327    4573
30451    3559
347      2790
26439    2555
Name: count, dtype: Int64
product_id
348      1314
54327    1246
30451    1160
30452     941
23801     917
Name: count, dtype: Int64

In [59]:
final_df.to_csv('sm_data_opt.csv', index=False)